.events {
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.eventsImgContainer {
    width: 32%;

    img {
        padding-top: 10px;
        box-shadow: 10px 10px $secondary;
    }
}
.eventsTextContainer {
    width: 66%;
    padding-left: 30px;
    
    h3 {
        color: $secondary;
    }
    p {
        margin-bottom: 35px;
    }
}
