.gallery {
    background-color: $quinary;
    padding: 100px 0;

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        width: 32%;
    }

    img {
        &:hover {
            transform: scale(110%);
        }
    }
}