.indexHeader {
    background-image: url(../../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: -1;

    img {
        position: absolute;
        right: 0px;
        top:280px;
        z-index: 0;
    }
}
.headerBannerFlex {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.headerBannerContainer {
    text-align: left;
    z-index: 999;


}
