.info {
    padding: 150px 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    li {
        width: 48%;
        text-align: left;
        z-index: 999;
    }
    i {
        @include fontSize(25);
        color: $secondary;
    }
}

.textlink {
    padding-left: 15px;
}
