@media (max-width:1220px) {
    .plan {
            padding: 50px 0;
            text-align: center;

            ul {
                flex-direction: column;
            }

            li {
                width: 100%;
            }

            img {
                position: static;
            }

            .location {
                padding-top: 30px;
                text-align: center;
            }

            .image2 {
                padding-top: 30px;
                box-shadow: 10px 10px $secondary;
            }
        }
}
@media (max-width:1000px) {
    .navBar {
        ul {
            display: none;
        }
    }
    #hamburger {
        display: flex;
        color: $primary; 
    }
    .slideOutNav {
        display: flex;
        background-color: $secondary;
        color: $primary;
        min-height: 100vh;
        position: fixed;
        top: 0;
        padding: 30px 50px;
        width: 100%;
        max-width: 450px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        z-index: 99999;
        left: -450px;
        transition: 0.3s;

        &.open {
            left: 0;
        }

        button {
            align-self: flex-end;
        }

        a {
            line-height: 2.2rem;

            &:hover,
            &:focus {
                color: rgba($color: $primary, $alpha: 0.6);
            }
        }
    }
    // SLIDE OUT NAV CODE CREDIT TO : E-COMMERCE CODE ALONG 

    .headerBannerFlex {
        padding-top: 150px;
    }
    .headerBannerContainer {
        text-align: center;
    }
    .indexHeader,
    .blogHeader,
    .contactHeader {
        img {
            display: none;
        }
    }
     .info {
        padding: 50px 0;
        ul {
            flex-direction: column;
        }

        li {
            width: 100%;
            padding: 10px;
        }
    }
    .party {
        padding: 50px 0 70px;
    }
    .events {
        padding: 50px 0;
        flex-direction: column;
        text-align: center;
        .eventsImgContainer,
        .eventsTextContainer{
            width: 100%;
        }
    }
    .flexBlog {
        flex-direction: column;
        .sideBar,
        .blog {
            width: 100%;
        }
    }
    .sideBar {
        text-align: center;
    }
    .sideBarImgAndText {
        padding: 20px;
    }
    .sideBarImg{
        transform: none;
        padding-bottom: 20px;
    }
    .blogImgAndText {
        padding: 5px;
    }
    .blogImgContainer {
        img {
            transform: none;
        }
    }
    .blogCommentsContainer {
        padding: 50px 30px;
    }
    .getInTouch {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .socialMedia {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        ul {
            justify-content: center;
        }
    }
    .insertMsg {
        margin-top: 20px;
        background-color: $quinary;
        padding: 50px;
        width: 100%;
        position: static;
        box-shadow: none;
    }
}

@media (max-width:500px) {
    .gallery {
        padding: 50px 0; 
        ul {
            flex-direction: column;
        }    
        li {
            width: 100%;
        }
    }
    .title {
        text-align: center;
    }
}