@media (max-width:1220px) {
    .plan {
            padding: 50px 0;

            li {
                width: 48%;
                text-align: left;
            }

            img {
                position: static;
            }

            .image2 {
                padding-top: 30px;
                box-shadow: 10px 10px $secondary;
            }
    }
    .location {
        text-align: left;
    }
}
@media (max-width:1000px) {
    .navBar {
        ul {
            display: none;
        }
    }
    #hamburger {
        display: flex;
        color: $primary; 
    }
    .slideOutNav {
        display: flex;
        background-color: $secondary;
        color: $primary;
        min-height: 100vh;
        position: fixed;
        top: 0;
        padding: 30px 50px;
        width: 100%;
        max-width: 450px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        z-index: 99999;
        left: -450px;
        transition: 0.3s;

        &.open {
            left: 0;
        }

        button {
            align-self: flex-end;
        }

        a {
            line-height: 2.2rem;

            &:hover,
            &:focus {
                color: rgba($color: $primary, $alpha: 0.6);
            }
        }
    }

    .headerBannerFlex {
        padding-top: 150px;
    }
    .headerBannerContainer {
        text-align: center;
    }
    .indexHeader,
    .blogHeader,
    .contactHeader {
        img {
            display: none;
        }
    }
     .info {
        padding: 50px 0 0;
        ul {
            flex-direction: column;
        }

        li {
            width: 100%;
            padding: 10px
        }
    }
    .plan {
        padding-bottom: 0;
        li {
            width: 100%;
            text-align: left;
            padding-bottom: 25px;
        }
    }
    .party {
        padding: 50px 0 70px;
    }
    .events {
        padding: 50px 0;
        flex-direction: column;
        text-align: center;
        .eventsImgContainer,
        .eventsTextContainer{
            width: 100%;
            h3 {
                padding-top: 20px;
            }
        }
    }
    .flexBlog {
        flex-direction: column;
        .sideBar,
        .blog {
            width: 100%;
        }
    }
    .sideBar {
        text-align: center;
        padding: 50px 0 50px 0;
    }
    .sideBarImgAndText {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sideBarImg{
        width: 48%;
        transform: none;
    }
    .sideBarTextContainer {
        width: 48%;
    }
    .blogImgAndText {
        padding: 5px;
    }
    .blogImgContainer {
        img {
            transform: none;
        }
    }
    .recentPostTitle {
        margin: 0;
    }
    .recentPost {
        line-height: 0.9;
    }
    .blogCommentsContainer {
        padding: 0 0 0 30px;
    }
    .getInTouch {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .socialMedia {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        ul {
            justify-content: center;
        }
    }
    .insertMsg {
        margin-top: 20px;
        background-color: $quinary;
        padding: 50px;
        width: 100%;
        position: static;
        box-shadow: none;
    }
}
@media (max-width:700px) {
    .sideBarImgAndText {
        flex-direction: column;
        align-items: center;
    }
    .sideBarTextContainer {
        width: 100%;
    }
    .sideBarImg {
        width: 100%;
    }
    .ourMission {
        padding-top: 20px;
    }
}
@media (max-width:500px) {
    .indexHeader {
        min-height: 80vh;
    }
    .headerBannerFlex {
        padding-top: 80px;
    }
    h1 {
       font-size: 8rem;
       margin-bottom: 10px;
       padding: 0 23px;
    }
    h2 {
        font-size: 3rem;
    }
    .gallery {
        padding: 50px 0; 
        ul {
            flex-direction: column;
        }    
        li {
            width: 100%;
        }
    }
    .title {
        text-align: center;
        margin-bottom: 0;
    }
    .sideBarTextContainer {
        padding-right: 0;
    }
    .sulaire,
    .renzo {
        flex-direction: column;
    }
    .sulaireText,
    .renzoText {
        width: 100%;
    }
    .sulaire img,
    .renzo img {
        width: 50%;
        margin-bottom: 30px;
    }
    .sulaireText h5,
    .renzoText h5 {
        line-height: 0.5;
    }
    input {
        width: 100%;
    }
    h4 {
        font-size: 4rem;
    }
}