.navBar {
    position: sticky;
    text-transform: uppercase;
    padding: 50px 0;
    ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0 100px;

    }
}

.logo {
    font-family: $secondaryFont;
    @include fontSize(60);
    text-transform: none;

}

#hamburger, 
.slideOutNav {
    display: none;
}

#hamburger {
    font-size: 1.5rem;
}
#hamburger, #close {
    background-color: transparent;
    border: none;
    cursor: pointer;
        color: $primary;
}

#close:hover {
    color: rgba(255, 255, 255, 0.6);
}