// site fonts
$primaryFont: "Chathura";
$secondaryFont: "Tulpen One";

$baseFontSize: 1rem;

// site colors
$primary: #FFFFFF;
$secondary: #FF8327;
$tertiary: #BF2603;
$quaternary: #111010;
$quinary: #220303;