.blogHeader {
    background-image: url(../../assets/contact-header-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    z-index: -1;
}

.title {
    padding-top: 90px;
}