.contactHeader {
    background-image: url(../../assets/contact-header-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    z-index: -1;
}

.getInTouch {
    padding: 50px 0;
}
.socialMedia {
    padding-top: 50px;
    
    p {
        @include fontSize(30);
    }
}

.contactIcon {
    display: flex;


    li {
        padding-right: 20px;
        @include fontSize(20);
    }

}

.contactDetails {
    line-height: 0.7;
    li {
        @include fontSize(30);
    }
}

.insertMsg {
    background-color: $quinary;
    padding: 50px;
    width: 50%;
    align-items: right;
    position: absolute;
    bottom: 0px;
    right: 50px;
    box-shadow: 10px 10px $secondary;
}

input,
textarea, {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: $primaryFont;
}

input {
    margin-right: 10px;
    margin-bottom: 30px;
}
textarea {
    width: 100%;
    border: 1px solid #fff;
}

.contactButton {
    width: 100%;
    padding: 3px;
    border: none;
    color: white;
    @include fontSize(20);
    letter-spacing: 0.1rem;
    margin-top: 30px;
}