.party {
    padding: 150px 0;
    text-align: center;

    h3 {
        color: $secondary;
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 35px;
    }
}

.image {
    img {
        width: 100%;
    }
}