@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: #111010;
}

body {
  font-family: "Chathura";
  font-size: 1rem;
  color: #FFFFFF;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-family: "Tulpen One";
  color: #FF8327;
  font-size: 261.4px;
  font-size: 13.07rem;
  letter-spacing: 0.5rem;
  line-height: 0.9;
}

h2 {
  font-size: 83.2px;
  font-size: 4.16rem;
  font-weight: bold;
  line-height: 0;
  letter-spacing: 2.6px;
}

h3, h4 {
  font-size: 68px;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2.2px;
  margin-bottom: 20px;
}

h4 {
  font-size: 90px;
  font-size: 4.5rem;
  padding-left: 20px;
}

p {
  font-size: 39px;
  font-size: 1.95rem;
  line-height: 30px;
  letter-spacing: 1.9px;
  margin-bottom: 20px;
}

li {
  font-size: 39px;
  font-size: 1.95rem;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.navBar {
  font-size: 38px;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.button {
  font-size: 35px;
  font-size: 1.75rem;
  font-family: "Tulpen One";
  background-color: #BF2603;
  padding: 5px 35px;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #FFFFFF;
  color: #BF2603;
}

.commentButton,
.contactButton {
  width: 100%;
  padding: 3px;
  border: none;
  color: white;
  font-size: 30px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  text-transform: uppercase;
  padding: 50px 0;
}
.navBar ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 100px;
}

.logo {
  font-family: "Tulpen One";
  font-size: 60px;
  font-size: 3rem;
  text-transform: none;
}

#hamburger,
.slideOutNav {
  display: none;
}

#hamburger {
  font-size: 1.2rem;
  padding-left: 20px;
}

#hamburger, #close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

#close:hover {
  color: rgba(255, 255, 255, 0.6);
}

.indexHeader {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: -1;
}
.indexHeader img {
  position: absolute;
  right: 0px;
  top: 280px;
  z-index: 0;
}

.headerBannerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.headerBannerContainer {
  text-align: left;
  z-index: 999;
}

.info {
  padding: 150px 0;
}
.info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info li {
  width: 48%;
  text-align: left;
  padding: 30px;
  z-index: 999;
}
.info .fa-file {
  padding: 15px 13px 15px 15px;
}
.info i {
  font-size: 25px;
  font-size: 1.25rem;
  background-color: #BF2603;
  padding: 12px 10px 12px 12px;
  border-radius: 100%;
}
.info p {
  padding-left: 68px;
}

.plan {
  background-color: #220303;
  padding: 150px 0;
  position: relative;
}
.plan ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plan li {
  width: 42%;
}
.plan img {
  position: absolute;
}
.plan h3 {
  margin-bottom: 11px;
}
.plan p {
  margin-bottom: 25px;
}

.location {
  text-align: right;
}

.image1 {
  left: 0;
  top: -50px;
  box-shadow: 10px 10px #FF8327;
}

.image2 {
  right: 0;
  bottom: -50px;
  box-shadow: -10px 10px #FF8327;
}

.party {
  padding: 150px 0;
  text-align: center;
}
.party h3 {
  color: #FF8327;
}
.party p {
  margin-bottom: 35px;
}

.image img {
  width: 100%;
}

.events {
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
}

.eventsImgContainer {
  width: 32%;
}
.eventsImgContainer img {
  padding-top: 10px;
  box-shadow: 10px 10px #FF8327;
}

.eventsTextContainer {
  width: 66%;
}
.eventsTextContainer h3 {
  color: #FF8327;
}
.eventsTextContainer p {
  margin-bottom: 35px;
}

.gallery {
  background-color: #220303;
  padding: 100px 0;
}
.gallery ul {
  display: flex;
  justify-content: space-between;
}
.gallery li {
  width: 32%;
}

footer {
  text-align: center;
  padding: 10px 0 0px;
}
footer p {
  margin-bottom: 0;
}

.contactHeader {
  background-image: url(../../assets/contact-header-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  z-index: -1;
}

.getInTouch {
  padding: 50px 0;
}

.socialMedia {
  padding-top: 50px;
}
.socialMedia p {
  font-size: 30px;
  font-size: 1.5rem;
}

.contactIcon {
  display: flex;
}
.contactIcon li {
  padding-right: 20px;
  font-size: 20px;
  font-size: 1rem;
}

.fa-facebook-f {
  padding-left: 15px;
}

.contactDetails {
  line-height: 0.7;
}
.contactDetails li {
  font-size: 30px;
  font-size: 1.5rem;
}

.insertMsg {
  background-color: #220303;
  padding: 50px;
  width: 50%;
  align-items: right;
  position: absolute;
  bottom: 0px;
  right: 50px;
  box-shadow: 10px 10px #FF8327;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Chathura";
  padding: 5px;
  font-size: 30px;
  font-size: 1.5rem;
}

input {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 40%;
}

textarea {
  width: 100%;
  border: 1px solid #fff;
}

.blogHeader {
  background-image: url(../../assets/contact-header-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  z-index: -1;
}

.title {
  padding-top: 90px;
}

.flexBlog {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  width: 28%;
  background-color: #111010;
  padding: 100px 20px 50px 0;
}

.sideBarImgAndText {
  background-color: #220303;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.sideBarImg {
  transform: translate(-30px, -20px);
}

.blog {
  width: 70%;
}

.blogImgAndText {
  background-color: #FF8327;
  padding: 10px 0 5px 5px;
}

.blogImgContainer img {
  transform: translate(30px, -30px);
}

.blogTextContainer {
  background-color: #111010;
  padding: 30px 50px;
}

.sideBarParagraph {
  margin-bottom: 0;
}

.orangeText {
  font-size: 39px;
  font-size: 1.95rem;
  color: #FF8327;
  margin-bottom: 30px;
}

.recentPostTitle {
  line-height: 1.15;
  margin-top: 30px;
  margin-bottom: 0;
}

.recentPost span {
  color: #BF2603;
  font-size: 20px;
  font-size: 1rem;
}

.blogCommentsContainer {
  padding-top: 50px;
}
.blogCommentsContainer h3 {
  padding: 20px 0 10px 0;
}

.commentDisplay {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sulaire, .renzo {
  display: flex;
  justify-content: space-between;
}
.sulaire img, .renzo img {
  width: 14%;
  align-self: start;
}

.sulaireText, .renzoText {
  width: 80%;
  padding-bottom: 30px;
}
.sulaireText h5, .renzoText h5 {
  font-size: 40px;
  font-size: 2rem;
  color: #FF8327;
  margin: 0 0 10px 0;
  line-height: 0.4;
}

.blogForm input,
.blogForm textarea {
  border-bottom: 1px solid #FF8327;
}
.blogForm textarea {
  border: 1px solid #FF8327;
}

@media (max-width: 1220px) {
  .plan {
    padding: 50px 0;
    text-align: center;
  }
  .plan ul {
    flex-direction: column;
  }
  .plan li {
    width: 100%;
  }
  .plan img {
    position: static;
  }
  .plan .location {
    padding-top: 30px;
    text-align: center;
  }
  .plan .image2 {
    padding-top: 30px;
    box-shadow: 10px 10px #FF8327;
  }
}
@media (max-width: 1000px) {
  .navBar ul {
    display: none;
  }
  #hamburger {
    display: flex;
    color: #FFFFFF;
  }
  .slideOutNav {
    display: flex;
    background-color: #FF8327;
    color: #FFFFFF;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding: 30px 50px;
    width: 100%;
    max-width: 450px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    left: -450px;
    transition: 0.3s;
  }
  .slideOutNav.open {
    left: 0;
  }
  .slideOutNav button {
    align-self: flex-end;
  }
  .slideOutNav a {
    line-height: 2.2rem;
  }
  .slideOutNav a:hover, .slideOutNav a:focus {
    color: rgba(255, 255, 255, 0.6);
  }
  .headerBannerFlex {
    padding-top: 150px;
  }
  .headerBannerContainer {
    text-align: center;
  }
  .indexHeader img,
.blogHeader img,
.contactHeader img {
    display: none;
  }
  .info {
    padding: 50px 0;
  }
  .info ul {
    flex-direction: column;
  }
  .info li {
    width: 100%;
    padding: 10px;
  }
  .party {
    padding: 50px 0 70px;
  }
  .events {
    padding: 50px 0;
    flex-direction: column;
    text-align: center;
  }
  .events .eventsImgContainer,
.events .eventsTextContainer {
    width: 100%;
  }
  .flexBlog {
    flex-direction: column;
  }
  .flexBlog .sideBar,
.flexBlog .blog {
    width: 100%;
  }
  .sideBar {
    text-align: center;
    padding: 50px 0 50px 0;
  }
  .sideBarImgAndText {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sideBarImg {
    width: 48%;
    transform: none;
  }
  .sideBarTextContainer {
    width: 48%;
  }
  .blogImgAndText {
    padding: 5px;
  }
  .blogImgContainer img {
    transform: none;
  }
  .recentPostTitle {
    margin: 0;
  }
  .recentPost {
    line-height: 0.9;
  }
  .blogCommentsContainer {
    padding: 0 0 0 30px;
  }
  .getInTouch {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }
  .socialMedia {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .socialMedia ul {
    justify-content: center;
  }
  .insertMsg {
    margin-top: 20px;
    background-color: #220303;
    padding: 50px;
    width: 100%;
    position: static;
    box-shadow: none;
  }
}
@media (max-width: 700px) {
  .sideBarImgAndText {
    flex-direction: column;
    align-items: center;
  }
  .sideBarTextContainer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .indexHeader {
    height: 300px;
  }
  .headerBannerFlex {
    padding-top: 80px;
  }
  h1 {
    font-size: 8rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 3rem;
  }
  .gallery {
    padding: 50px 0;
  }
  .gallery ul {
    flex-direction: column;
  }
  .gallery li {
    width: 100%;
  }
  .title {
    text-align: center;
    margin-bottom: 0;
  }
  .sideBarTextContainer {
    padding-right: 0;
  }
  .sulaire,
.renzo {
    flex-direction: column;
  }
  .sulaireText,
.renzoText {
    width: 100%;
  }
  .sulaire img,
.renzo img {
    width: 50%;
    margin-bottom: 30px;
  }
  .sulaireText h5,
.renzoText h5 {
    line-height: 0.5;
  }
  input {
    width: 100%;
  }
  h4 {
    font-size: 4rem;
  }
}
.modal {
  overflow: scroll;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100000;
  width: 50%;
  height: 55%;
  background-color: #FF8327;
  border-radius: 4px 4px;
  border: solid 6px white;
  color: black;
  padding: 50px;
  text-align: center;
}
.modal h3 {
  margin: 0;
}
.modal button {
  font-family: "Chathura";
  font-size: 1.5rem;
  background-color: transparent;
  border: solid 2px #FFFFFF;
  border-radius: 5px 5px;
  cursor: pointer;
  padding: 0 30px;
  margin-left: 10px;
}
.modal button:hover {
  background-color: #FFFFFF;
  color: #FF8327;
}
.modal p {
  margin: 20px 0 0 0;
}

.spanClose {
  font-size: 3rem;
  cursor: pointer;
}
.spanClose:hover {
  color: #FFFFFF;
}

.modalEmail {
  margin: 10px 0 20px 0;
  width: 70%;
  height: 40px;
}/*# sourceMappingURL=styles.css.map */